<pdk-form-field [label]="label()" [labelType]="labelType()">
  <pdk-checkbox-group [formControl]="formControl" checkboxType="small" [required]="required()">
    <pdk-checkbox
      [ngModel]="isAllSelected()"
      (ngModelChange)="handleSelectAllChange($event)"
      [ngModelOptions]="{ standalone: true }"
      name="selectAll"
      checkboxType="small"
      data-test-id="select-all-checkbox"
    >
      Select all
    </pdk-checkbox>
    @for (day of weekdayOptions; track day.value) {
      <pdk-checkbox [value]="day.value" checkboxType="small">
        {{ day.label }}
      </pdk-checkbox>
    }
  </pdk-checkbox-group>
</pdk-form-field>
